body .page {
	line-height: 2em;
	font-weight: 300;
	text-align: justify;
}

body .page h1 {
	font-weight: normal;
	line-height: 1.1em;
	text-transform: uppercase;
}

body .page h2 {
	font-size: 16pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	line-height: 1.1em;
	padding: 2px 0 0 0;
	margin: 1.3em 0 0.5em 0;
}

body .page h3 {
	font-size: 14pt;
	font-weight: bold;
	line-height: 1.1em;
	margin: 20px 0 15px 0;
}

body .page p {
	margin: 0.8em 0;
	border: 0;
	font-size: 12pt;
}

body .page ul {
	font-size: 12pt;
}

body .page li {
	font-size: 12pt;
}

body .page pre {
	font-size: 13px;
}

body .page code {
	font-size: 13px;
	font-family: 'Liberation Mono';
}

body .page .figure {
	text-align: center;
	margin-bottom: 3em;
	page-break-inside: avoid;
}

body .page .figure .figcaption {
	margin-top: 0.7em;
	line-height:0.7em;
	font-size: 1em;
}

body .page p {
	text-indent: 1.5em;
}

body .page blockquote > p {
	text-indent: 0;
}

body .page li > p {
	text-indent: 0;
}

body .page .chapterHeader {
	font-size: 12pt;
	font-family: Arial;
	font-weight: normal;
	text-align: left;
	page-break-before: always;
}

body .page .chapterHeader:first-of-type {
	page-break-before: avoid;
}

body .intro h1 {
	border-bottom: none;
}

.page .book-chapter {
	text-align: left;
}

.page .book-chapter-1 {
	font-size: 26pt;
	font-weight: normal;
	margin: 0 0 3cm 0;
}

/* nao remover. isso garante que o sumario do gitbook tem apenas 1 pagina. */
body .page-toc {
	display: none;
}

.toc ul, li {
	font-family: 'MinionPro', 'Minion Pro';
}
.toc ul {
	list-style-type: none;
}
.toc h1 {
	margin-top: 110px!important;
	margin-bottom: 70px!important;
	font-size: 3em;
	font-family: 'MinionPro', 'Minion Pro';
}
.toc .chapter-toc {
	padding-left: 0;
}
.toc .chapter-toc li {
	margin-bottom: 17px;
	font-size: 12pt;
}
.toc .chapter-toc li.part {
	margin-top: 2em;
}
.toc .part-name-toc {
	font-weight: bold;
	color: #0000B3;
	font-size: 1.1em;
}
.toc .part-page-toc {
	font-weight: bold;
	float: right;
}
.toc .chapter-name-toc {
	font-weight: bold;
	color: #0000B3;
}
.toc .chapter-page-toc {
	font-weight: bold;
	float: right;
}
.toc .section-toc {
	margin-top: 7px;
}
.toc .section-toc li {
	margin-bottom: 7px;
	font-size: 11pt;
}
.toc .section-name-toc {
	color: #0000B3;
}
.toc .section-page-toc {
	float: right;
}

body .page .part-header h1 {
	margin: 6.2cm 0 0 0;
}

body .page .part-header h1:first-of-type {
	margin: 1cm 0 0 0;
}

.rodape {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 62pt;
	margin: 0px;
	border-top: 1px solid black;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
}
.rodape-conteudo {
	margin-top: 12pt;
}
.rodape-esquerda {
	text-align: left;
}
.rodape-direita {
	text-align: right;
}
.rodape-pagina {
	font-weight: bold;
	color: black;
}
.rodape-titulo {
	font-weight: normal;
	color: dimgray;
}
.rodape-margem {
	margin-left: 12pt;
}
