.book {
    margin: 0 auto;
    padding: 0 7px;
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    font-size: 20px;
    line-height: 1.5em;
    font-family: Merriweather,Georgia,serif;
    font-weight: 300;
    font-style: normal;
    color: #111;
}

header {
    font-size: 15px;
}

#cover-image {
    float: right;
    margin-left: 0.6em;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border: 0;
}

#book-title {
    line-height: 1.1em;
    font-size: 3.8em;
    font-variant: small-caps;
    position: relative;
    margin: 0.5em 0 1em 0;
}

.toc h1 {
    line-height: 5em;
    margin: 0;
    font-weight: bold;
}

.toc ul {
    margin-left: 2em;
    margin: 1em;
}

.toc li {
    list-style: none;
}
