<!DOCTYPE HTML>
<html {% block htmlTag %}{% endblock %}>
    {{ htmlSnippet("html:start")|default("") }}
    <head>
        {{ htmlSnippet("head:start")|default("") }}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        {{ htmlSnippet("head:end")|default("") }}
    </head>
    <body>
        {{ htmlSnippet("body:start")|default("") }}
        {% block style %}{% endblock %}
        {% block content %}{% endblock %}
        {{ htmlSnippet("body:end")|default("") }}
    </body>
    {{ htmlSnippet("html:end")|default("") }}
</html>
